@media screen and (min-width: 500px) {

    header h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    #menu.open {
        display: none;
    }

    nav {
        background-color: #000;
    }

    .navigation {
        text-align: center;
        display: flex;
        color: black;
    }

    .navigation li {
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
        font-weight: 600;
    }

    .navigation a:hover,
    .navigation a:active {
        color: #00008B;
        background-color: #eee;
    }

    main {
        margin: 0 auto;
    }

    main div {
        max-width: 800px;
        display: grid;
        grid-template: auto auto auto auto / 50% 50% 50%;
        gap: 1rem;
        grid-auto-flow: row;
    }


    figure {
        border: 2px solid #ace;
        text-align: center;
    }

    section {
        background-color: #eee;
        color: black;
        text-align: center;
        margin-bottom: 10px;
        padding: 25px;
        margin-left: 50px;
        border-radius: 30px;
    }

    .info1 {
        color: green
    }

}